<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
</head>
<body>
    <template>
        <div class="complited-task">
            <h6 id="name">Название задачи: </h6>
            <p id="description" class="text-muted">Описание: </p>
            <p id="datetime">Закончена в: </p>
        </div>
    </template>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ToDoList</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="content">
            <div class="container">
                <div class="content-row">
                    <div class="content-tasks content-column">
                        <div>@RenderBody()</div>
                    </div>
                    <div class="content-layout content-column">
                        <h4>
                            <span class="text-muted">Выполненные задачи</span>
                        </h4>
                    <div id="complitedTasks">
                    </div>
                    <form asp-controller="Task" asp-action="FinishDay" method="get">
                        <button type="submit" class="button">Закончить день</button>
                    </form>
                    <div class="form-group">
                        <label>Заметки для себя</label>
                        <textarea rows="3" class="form-control"></textarea>
                    </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                &copy; 2023 - ToDoList
            </div>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const complitedDiv = document.querySelector('#complitedTasks');
        $(document).ready(getComplitedTasks);

        function getComplitedTasks(){
            $.ajax({
                method: 'GET',
                url: "@Url.Action("GetComplitedTasks")",
                data: null,
                success: function (data) {
                    for (let i = 0; i < data.data.length; i++) {
                        let templateCloneTask = document.querySelector('template').content.cloneNode(true);
                        templateCloneTask.querySelector('#name').textContent += `${data.data[i].name}; `;
                        templateCloneTask.querySelector('#description').textContent += `${data.data[i].description}; `;
                        templateCloneTask.querySelector('#datetime').textContent += `${data.data[i].dateTime}; `;
                        complitedDiv.appendChild(templateCloneTask);
                    }
                }
            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
